@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

*{
    font-family: "Tektur", sans-serif;
}
:root{
    --color-1:#002a86;
    --color-2:#fff;
    --color-3:#f3ae2a;
    --color-4:#000354;
    --color-5:#004687;
   

}
body{
    margin: 0;
    padding:0;
    background-color: #fff;
   
}
.navbar{
    background-color: var(--color-4) !important;
}
.bord{
    border: 1px solid black;
}



.league{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.gridscore{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:1rem;
    
    color:var(--color-2);
 
  
}
h1{
    color: var(--color-2);
}
h2{
    text-align: center;
    
    color:var(--color-2);
}
#game-container{
    margin-top: 6rem;
}
.total{
    text-align: center;
    background-color: var(--color-1);
    color:var(--color-2);
}
.h2gol{
    background-color: var(--color-2);
    color:var(--color-1);
    text-align: start;
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-1);
    color:var(--color-2);
}
.currentscore{
    font-size: 3rem;
}
.cell{
    background-color: var(--color-1);
    padding: 1rem;
    background-image: url("https://www.cruzeiro.com.br/static/media/bg-cru.73d26b4613b8ac5c2cbc.jpg");
}   

.sticker{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: var(--color-3);
    display: flex;
    justify-content: center;
    gap:1.5rem;
    margin-bottom: 1.5rem;
    

}
.sticker a{
    color:var(--color-4);
    text-decoration: none;
}
.sticker a:hover{
    filter: brightness(2);
}


.cardmobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.cruzeiro.com.br/static/media/bg-cru.73d26b4613b8ac5c2cbc.jpg");
    color:var(--color-2);
    padding:0.5rem;
}
.painelmobile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    gap:0.2rem;
    width: 100%;
   
}
.scoremobile{
    margin: 0;
    font-size: 3rem;
}
#game-container-mobile{
    margin-bottom: 1rem;
    margin-top: 6rem;
}

.offcanvas-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
li{
    list-style: none;
}
@media (max-width: 767px) {
  
    #game-container{
        display: none;
    }
    img{
        height: 70px;
    }
    .sticker a{
       font-size: 1.5rem;
    }
    .sticker{
        gap:2rem;
    }
    h1{
       font-size: 1.25rem;
    }
  }
  
  @media (min-width: 768px) {
  
  
    #game-container-mobile{
        display: none;
    }
   
  }